.eligible-users-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto; /* Center the container */
}

.eligible-users {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eligible-users ul {
    list-style-type: none;
    padding: 0;
}

.eligible-users .user-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.eligible-users .user-item:last-child {
    border-bottom: none;
}

.eligible-users .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.eligible-users .user-info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.eligible-users .user-info p {
    margin: 0;
    flex: 1;
}

.eligible-users button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.eligible-users button:hover {
    background-color: #0056b3;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.pagination-buttons button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-buttons button:hover {
    background-color: #0056b3;
}

.pagination-buttons button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
