.my-friends {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-container {
    width: 82%;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Reduce padding */
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.navbar-container {
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.first-row,
.second-row {
    display: flex;
    gap: 10px; /* Reduce the gap between components */
    margin-bottom: 10px; /* Reduce margin */
}

.box {
    padding: 10px; /* Reduce padding */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex: 1;
}

.large-column {
    flex: 70%;

}

.small-column {
    flex: 30%; /* Adjust the width ratio of the small column */
    max-height: 100%; /* Ensure it takes the full height of its parent container */
    display: flex;
    flex-direction: column;
}

.half-column {
    flex: 1;
}

.section h3 {
    margin-top: 0;
    margin-bottom: 10px; /* Reduce margin */
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width:100%;
    max-height: fit-content;
}

.pagination-buttons a {
    color: #007BFF;
    cursor: pointer;
    text-decoration: none;
    width: 98%;
    height: 8%;
}

.pagination-buttons a.disabled {
    color: #aaa;
    cursor: not-allowed;
}

.alert-success {
    color: green;
    margin-top: 10px;
    max-height: 3%;
}
.styleNew{
    display: contents;
}