.user-books {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.books-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-books .book-card {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.user-books .book-card:hover {
    transform: scale(1.02);
}

.user-books .book-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.user-books .book-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-books .book-title {
    font-weight: bold;
}

.book-author {
    color: gray;
    font-size: 0.9em;
}

.book-card-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 400px;
    text-align: center;

    filter: blur(0px);
}

.book-card-image {
    width: 100px;
    margin-bottom: 15px;
}

/* .book-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.book-card-info {
    flex: 1;  /* Make sure the details take up available space */
    display: flex;
    flex-direction: column;
    gap: 15px;  /* Space between the title, author, rating, and description */
}

.mark-as-reading-button,
.remove-book-button {
    padding: 8px;
    margin: 5px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-book-button {
    background-color: #FF4D4D;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.user-books .blur-background {
    filter: blur(4px);
}

.error-message {
    background-color: #f8d7da;
    color: #29a522;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    animation: fadeOut 2s ease-out;
}

/* Optional: Add a fade-out animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}