.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .dashboard .content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .dashboard .navbar-container {
    width: 20%;
    background-color: #ffef00; /* Canary Yellow */
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
  }
  
  .dashboard .first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-grow: 1;
    height: 45%;
  }
  
  .dashboard .progress-container {
    width: 55%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard .profile-box {
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .dashboard .second-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-grow: 1;
    height: 65%;
  }
  
  .dashboard .friends-box {
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .dashboard .updates-box {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    overflow-y: auto;
    flex-grow: 1;
    position: center ;
  }
  